recursos/n8n-chatbot-workflow.json
{
  "name": "chat agents",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        60,
        240
      ],
      "id": "c6a70076-1a88-4a6b-a6b3-261af51e2d0b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dpRVm0d7fLKrMPsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        240
      ],
      "id": "cefafc3b-e79b-4bd8-acb6-43cd35632006",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "publicacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a29d3f83-2b99-4618-b30b-21c73137f386"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f0c09d11-b60a-4795-841a-eda682ab7b30",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "reclamo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d91506b4-7b02-424a-bb95-6ba4fd87b5ad",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "otro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        460,
        20
      ],
      "id": "edd044d2-6c7a-4891-9640-40cb8d50a616",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        -60
      ],
      "id": "1374059c-df42-40a3-b45c-d81a2a53f30e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "dpRVm0d7fLKrMPsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        320
      ],
      "id": "3f26a622-12e3-46ea-bf49-fd182aab0901",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "dpRVm0d7fLKrMPsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        940,
        760
      ],
      "id": "7a806eb5-275f-420d-b248-c19dda6966e9",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "dpRVm0d7fLKrMPsk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('chat_input').item.json.chatInput }}",
        "options": {
          "systemMessage": "Sos un asistente de ventas que ayuda a los usuarios a publicar y vender sus productos.\nTenes que tener un tono amigable y usar emojis en tus respuestas.\nSiempre comenza tus respuestas identificandote: [Asistente de ventas]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        880,
        -240
      ],
      "id": "bc221db1-037f-4209-86c7-d58b9f308f0f",
      "name": "AI Agent - publicacion"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('chat_input').item.json.chatInput }}",
        "options": {
          "systemMessage": " Sos un asistente que maneja reclamos de clientes de manera profesional y empática.\nTenes que disculparte por los inconvenientes y ofrecer soluciones adecuadas.\nSiempre comenza tus respuestas identificandote: [Asistente de reclamos]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        120
      ],
      "id": "642353ea-a20c-4ea3-870e-a708ba0964e6",
      "name": "AI Agent - reclamos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('chat_input').item.json.chatInput }}",
        "options": {
          "systemMessage": "Tu funcion es transmitir a los usuarios que no podes ayudarlos con su consulta.\nDebes decirle que por ahora solo podes ayudarlos a vender sus productos o con reclamos.\nTenes que tener un tono amigable y usar emojis en tus respuestas.\nSiempre comenza tus respuestas identificandote: [Asistene general]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        540
      ],
      "id": "a71f9c13-c503-4899-9913-e721f1672525",
      "name": "AI Agent - general"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": " Sos un asistente que clasifica mensajes en 3 categorías: publicaciones, reclamos y otros.\nTenes que analizar el mensaje del usuario y devolver una sola palabra que indique la categoría.\nLas categorías son: 'publicacion', 'reclamo' y 'otro'.\nCuando el usuario no pide vender un producto o hacer un reclamo, SIEMPRE debes devolver 'otro'."
        }
      },
      "id": "07539bde-e1b0-452a-9dbb-87f24d6becd6",
      "name": "AI Agent - Clasificador",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        80,
        20
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f091b777-9bc0-4e5f-8b95-e52a2578c217",
      "name": "chat_input",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -340,
        -40
      ],
      "webhookId": "53c136fe-3e77-4709-a143-fe82746dd8b6",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('chat_input').item.json.sessionId }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1060,
        360
      ],
      "id": "e383b5f0-4d5b-4725-a1f6-5b54382a7228",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('chat_input').item.json.sessionId }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1060,
        -40
      ],
      "id": "8ce2f850-71cc-40f2-a86c-578f7696288d",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('chat_input').item.json.sessionId }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1100,
        760
      ],
      "id": "dbbce88a-414c-46d5-ae1e-e6f93acf9343",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        240
      ],
      "id": "3bda8a11-3e66-40cb-b1b7-cf9bed288e19",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        480
      ],
      "id": "10525c0d-09be-4a78-86f5-6e683197e10c",
      "name": "Telegram Trigger",
      "webhookId": "8b6593aa-4b1b-43e4-aa79-31d0eb55baf3",
      "credentials": {
        "telegramApi": {
          "id": "kZAKFRF4MTnrp4jI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Clasificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent - publicacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - reclamos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - general",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - publicacion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - reclamos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - general",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - reclamos": {
      "main": [
        []
      ]
    },
    "AI Agent - Clasificador": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat_input": {
      "main": [
        [
          {
            "node": "AI Agent - Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - reclamos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - publicacion",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - general",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6644bad2-a04f-413f-b577-d068fbe5da27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "389ca305d0c1044768e3bb698793ca2cbe872ddba39e59936e1c25658582ed79"
  },
  "id": "9f93fM2AC2sh9yb9",
  "tags": []
}